/* цвет основного текста #212121; */
/* вторичный цвет текста #757575; */
/* цвет акцент #2196F3; */
/* начальный цвет фона #FFFFFF; */
/* вторичный цвет фона #2F303A; */

/* черный цвет для логотипа в недере #000; */
/* белый цвет для логотипа и ссылок в футере #fff; */
/* цвет ссылок в футере rgba(255, 255, 255, 0.6); */
/* начальнай цвет кнопок #F5F4FA; */
/* начальный цвет иконок rgb(175, 177, 184);*/
/* функция распределения времени cubic-bezier(0.4, 0, 0.2, 1);*/

:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --second-background-color: #2F303A;

    --text-black: #000;
    --text-white: #fff;
    --text-footer-link: rgba(255, 255, 255, 0.6);
    --primary-button-background: #F5F4FA;
    --primary-color-icon: rgb(175, 177, 184);
    /* --timing-function: cubic-bezier(0.4, 0, 0.2, 1); */

}

body {
    background-color: var(--primary-background-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
}

/* --------------Утилиты--------------- */
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.list {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1200px;
}


/* ---------------------Шапка, навигация--------------------- */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header__menu {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.header__logo {
    margin-right: 93px;
}

.logo__change {
    color: var(--text-black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__change:hover,
.logo__change:focus {
    color: var(--accent-color);
}

/* .header__logo span {
    color: var(--text-black);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .header__logo span:hover,
.header__logo span:focus,
.footer__logo span:hover,
.footer__logo span:focus {
    color: var(--accent-color);
} */

.nav__list {
    display: flex;
}

/* .nav__link.current:hover::after {
    opacity: 1;
    transform: scaleX(1)
} */

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color)
}

.current {
    color: var(--accent-color);
}

.nav__link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    /* transition-property: opacity; */
    /* transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    /* opacity: 0; */
    /* transform: scaleX(0) */
}

.address-list {
    display: flex;
    margin-left: auto;
}

.address-list__item:not(:last-child) {
    margin-right: 50px;
}

/* .address-list .address-list__item + .address-list__item {
    margin-left: 50px;
} */

.address-list__mail,
.address-list__tel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__mail:hover,
.address-list__mail:focus,
.address-list__tel:hover,
.address-list__tel:focus {
    color: var(--accent-color)
}

/* .address-list__mail::before{
    content: "";
    display: inline-flex;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    background-position: center;
} */

/* .address-list .address-list__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
} */

.address-list__icon {
    margin-right: 10px;
    fill: currentColor;
}

/* ---------------------Герой--------------------- */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background: var(--second-background-color);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
    max-width: 696px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-white);
}

/* -----------------Кнопка "Заказать услугу"----------------- */
.btn {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;

    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color: var(--primary-button-background);
    color: var(--main-text-color);
}
    
.hero__btn {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;

    color: var(--text-white);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: #188CE8;
}

/* -----------------Кнопки на странице Портфолио----------------- */
.portfolio-btn {
    padding: 6px 22px;
    min-width: 73px;
    height: 38px;

    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background: var(--accent-color);
    color: var(--text-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-list .current {
    background: var(--accent-color);
    color: var(--text-white);
}

/* ---------------------Особенности--------------------- */
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* --------Скрываем заголовок-------- */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-icon {
    display: flex;
    justify-content: space-between;
}

.features-icon__icon {
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-list__item {
    width: 270px;
}

/* --------Если иконки в features делать через before-------- */
/* .features-list__item::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-list__item:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
}

.features-list__item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
}

.features-list__item:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
}

.features-list__item:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
} */

.features-list__title {
    margin-bottom: 10px;
    min-width: 270px;
    font-size:  inherit;
    font-weight: 700;
    text-transform: uppercase;
}

.features-list__text {
    min-width: 270px;
    font-weight: 400;
    line-height: 1.71;
    color: var(--second-text-color);
}

/* ---------------------Чем мы занимаемся--------------------- */
.about {
    padding-bottom: 94px;
}

.about__title,
.team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.about-list {
    display: flex;
    justify-content: space-between;
}

.about-list__item {
    position: relative;
}

.about-list__photo {
    display: block;
}

.about-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    /* font-size: 14px;
    line-height: 16px; */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* ---------------------Наша команда--------------------- */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background: var(--primary-button-background);
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list__item {    
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-right: 1px solid var(--primary-background-color);
    border-bottom: 1px solid var(--primary-background-color);
    border-left: 1px solid var(--primary-background-color);
    background: var(--primary-background-color);
}

.team-list__group {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list__title {    
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list__text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--second-text-color);
}

.soc-list,
.footer-soc-list {
    display: flex;
    justify-content: center;
}

.soc-list__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.soc-list__item:last-child {
    margin-right: 0;
}

.soc-list__link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--primary-color-icon);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__link:hover,
.soc-list__link:focus {
    background-color: var(--accent-color);
    fill: var(--text-white);
}

/*  .soc-list__icon {
fill: currentColor;
}
.soc-list__link:hover,
.soc-list__link:focus {
    background-color: var(--accent-color);
}
.soc-list__link:hover .soc-list__icon,
.soc-list__link:focus .soc-list__icon {
    fill: var(--text-white);
} */

/* ---------------------Постоянные клиенты-------------------- */
.clients {
    margin-top: 107px;
    margin-bottom: 88px;
}

.clients__title{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list__item {
    margin-right: 30px;
}

.clients-list__item:last-child {
    margin-right: 0;
}

.clients-list__link {
    display: inline-flex;
    color: var(--primary-color-icon);
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition-property: color, border, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
    fill: currentColor;
}

.clients-list__link:hover,
.clients-list__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* ---------------------Подвал страницы-------------------- */
.footer__container {
    position: relative;
    display: flex;
    align-items: baseline;
}

.container-address {
    margin-right: 70px;
}

.footer__logo {
    margin-bottom: 20px;
    display: inline-block;
}

.logo__change--footer {
    color: var(--text-white);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .footer__logo span {
    color:var(--text-white);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--second-background-color);
}

.footer-address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address__link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-white);
}

.footer-address__mail,
.footer-address__tel {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-footer-link);
}

.footer-address__link,
.footer-address__mail,
.footer-address__tel {
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link:hover,
.footer-address__link:focus,
.footer-address__mail:hover,
.footer-address__mail:focus,
.footer-address__tel:hover,
.footer-address__tel:focus {
    color: var(--text-white);
}

.container-soc {
    padding-top: 12px;
    width: 206px;
}

.container-soc__title {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-white);
}

/* .footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--text-white);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

.soc-list__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--text-white);
    transition-property: background-color;
}

/* .footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
} */

.soc-list__link--footer:hover,
.soc-list__link--footer:focus {
    background-color: var(--accent-color);
}

.container-form {
    position: absolute;
    top: 0;
    right: 15px;
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    width: 570px;
}

.footer-form__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-white);
}

.footer-field {
    display: flex;
}

.footer-field__input {
    display: inline-block;
    margin-right: 12px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    outline: none;
    background-color: transparent;
    color:rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    
.modal-input:hover,
.modal-input:focus {
    border-color: var(--accent-color);
}

/* --------------------Кнопка в футере--------------------- */
.footer-field__btn {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    margin: 0;
    text-align: left;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    height: 50px;
    color: var(--text-white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-field__btn:hover,
.footer-field__btn:focus {
    background-color: #188CE8;
}

.footer-field__icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--primary-background-color);
}

/* --------------------Страница Портфолио--------------------- */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-projects-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-projects-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects-item:hover,
.portfolio-projects-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-projects-link img {
    display: block;
}

/* ----- Почему не работает эта часть?--------
.portfolio-projects-item {
    
    flex-basis: calc((100%-60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: red;
}*/

.portfolio-projects-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-projects-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-projects-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-projects-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .portfolio-projects-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    opacity: 0.3;
    transform: translateX(-100%);
    transition-property: transform, opacity;
    transition-duration: 5250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio-projects-link:hover .portfolio-projects-overlay::before,
.portfolio-projects-link:focus .portfolio-projects-overlay::before {
    opacity: 0.9;
    transform: translateX(0);
} */

.portfolio-projects-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--text-white);
}

.portfolio-projects-link:hover .portfolio-projects-overlay,
.portfolio-projects-link:focus .portfolio-projects-overlay {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-projects-group {
    padding: 20px 24px;
}

.portfolio-projects-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.portfolio-projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--second-text-color);
}

/* --------------------------Бэкдроп--------------------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: scale(1);
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scale(0);
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
}

/* --------------------Модальное окно--------------------- */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: inherit;
    cursor: pointer;
}

.modal-close {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close, 
.modal-close-btn:focus .modal-close {
    fill: var(--accent-color);
}

/* --------------------Форма в модальном окне--------------------- */
.order-form {
    width: 100%;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--main-text-color);
    padding-bottom: 12px;
}

.modal-field {
    margin-bottom: 10px;
}

.modal-name {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
}

.input-wrap {
    position: relative;
}

.modal-input {
    display: inline-block;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
    fill: var(--accent-color);
}

.modal-textarea {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    outline: none;
    color: rgba(117, 117, 117, 0.5);
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: var(--accent-color);
    color:var(--main-text-color);
}

.modal-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 12px;
    text-align: center;
}

.modal-check-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.modal-check-text span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8.38px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-check {
    fill: transparent;
}

.modal-check:checked + .modal-check-text span {
    background-color: var(--accent-color);
    border: none;
}

.modal-check:checked + .modal-check-text .modal-icon-check {
    fill: var(--text-white);
}

.modal-check:hover + .modal-check-text span,
.modal-check:focus + .modal-check-text span {
    border-color: var(--accent-color);
}

/* .modal-check-text::before {
    content: '';
    display: block;
    margin-right: 8.38px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
}

.modal-check:checked+.modal-check-text::before {
    background-color: var(--accent-color);
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.modal-check:hover+.modal-check-text::before,
.modal-check:focus+.modal-check-text::before {
    border-color: var(--accent-color);
} */

.modal-check-link {
    display: inline-block;
    margin-left: 5px;
    line-height: 1.1;
    text-decoration: none;
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
}

/* --------------------Кнопка в модальном окне--------------------- */

.btn.modal-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 56px;
    min-width: 200px;
    height: 50px;
    color: var(--text-white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
}
