//* ---------------------Подвал страницы-------------------- */
.footer__container {
    position: relative;
    display: flex;
    align-items: baseline;
}

.container-address {
    margin-right: 70px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--second-background-color);
}

.footer-address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address__link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-white);
}

.footer-address__mail,
.footer-address__tel {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-footer-link);
}

.footer-address__link,
.footer-address__mail,
.footer-address__tel {
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link:hover,
.footer-address__link:focus,
.footer-address__mail:hover,
.footer-address__mail:focus,
.footer-address__tel:hover,
.footer-address__tel:focus {
    color: var(--text-white);
}