.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

// /* .nav__link.current:hover::after {
//     opacity: 1;
//     transform: scaleX(1)
// } */

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color)
}

.current {
    color: var(--accent-color);
}

.nav__link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    // /* transition-property: opacity; */
    // /* transition-property: transform;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    // /* opacity: 0; */
    // /* transform: scaleX(0) */
}

.address-list {
    display: flex;
    margin-left: auto;
}

.address-list__item:not(:last-child) {
    margin-right: 50px;
}

// /* .address-list .address-list__item + .address-list__item {
//     margin-left: 50px;
// } */

.address-list__mail,
.address-list__tel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__mail:hover,
.address-list__mail:focus,
.address-list__tel:hover,
.address-list__tel:focus {
    color: var(--accent-color)
}

// /* .address-list__mail::before{
//     content: "";
//     display: inline-flex;
//     width: 16px;
//     height: 12px;
//     margin-right: 10px;
//     background-image: url(../images/envelope.svg);
//     background-repeat: no-repeat;
//     background-position: center;
// } */

// /* .address-list .address-list__item {
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
// } */

.address-list__icon {
    margin-right: 10px;
    fill: currentColor;
}