.soc-list,
.footer-soc-list {
    display: flex;
    justify-content: center;
}

.soc-list__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.soc-list__item:last-child {
    margin-right: 0;
}

.soc-list__link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--primary-color-icon);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__link:hover,
.soc-list__link:focus {
    background-color: var(--accent-color);
    fill: var(--text-white);
}

// /*  .soc-list__icon {
// fill: currentColor;
// }
// .soc-list__link:hover,
// .soc-list__link:focus {
//     background-color: var(--accent-color);
// }
// .soc-list__link:hover .soc-list__icon,
// .soc-list__link:focus .soc-list__icon {
//     fill: var(--text-white);
// } */